
.card{
   background-color: #fcfcfc;
    border-radius: 7px;
    border: none;
    color: #2b2b2b;
    margin-top: 20px;
    box-shadow: 0px 5px 17px -5px rgba(252,252,252,0.75);
    -webkit-box-shadow: 0px 5px 17px -5px rgba(252,252,252,0.75);
    -moz-box-shadow: 0px 5px 17px -5px rgba(252,252,252,0.75);
    transition: 0.7s ease-in-out;
    cursor: pointer;
}
.card:hover{
    /* transform: skew(2deg) translate(2px,1px);
    -webkit-transform: skew(2deg) translate(2px,1px);
    -moz-transform: skew(2deg) translate(2px,1px); */
    transform: scale(1.04);
}