.container{
    color: white;
    padding: 100px 120px;
     background-color: #393053; 
  /* text-align: center; */
}

.row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 100px;
    margin-top: 10px;
    /* align-items: center; */
    /* justify-content: center; */
  
}
.img img{
    width: 440px;
}

.left h1{
    font-size: 47px;
    font-weight: bolder;
    font-family: sans-serif;
}
.left p{
    font-size: 15px;
    color: #f4f4f4;
    opacity: 0.8;
    line-height: 1.7;
}
.buttons button{
    margin: 0px 10px;
    width: 130px;
    padding: 8px;
    border: none;
    border-radius: 8px;
   cursor: pointer;
    outline: none;

}
.buttons .buy{
    background-color: #E9A178;
    font-weight: bolder;
    font-size: 17px;
}